In [34]:
import pandas as pd

In [35]:
df = pd.read_csv("2a.csv", sep=';')

In [36]:
df = df.drop("Maturity date", axis=1)

In [37]:
df = df.drop("Maturity period, days", axis=1)

In [38]:
df = df.drop("Unnamed: 6", axis=1)

In [39]:
df = df.sort_values("Rate, %")

In [40]:
df

     Asset (active)  Loan (passive))  Rate, %  ANSWER (GROUP NUMBER)
988            0.00       1794840.28    -5.00                    NaN
980            0.00        350082.28    -5.00                    NaN
981            0.00        415658.81    -5.00                    NaN
986            0.00        909327.86    -5.00                    NaN
953            0.00        553498.49    -4.00                    NaN
..              ...              ...      ...                    ...
307            0.00      13685556.81     6.50                    NaN
306            0.00       7311462.25     6.50                    NaN
296            0.00       4556683.20     6.75                    NaN
918     13952230.61             0.00     7.62                    NaN
391     15666677.16             0.00     8.10                    NaN

[1015 rows x 4 columns]

In [41]:
gr_number = 0
for i in range(-500, 801, 15):
    df.loc[(df["Rate, %"] >= i / 100) & (df["Rate, %"] < (i + 15) / 100), "ANSWER (GROUP NUMBER)"] = gr_number
    gr_number += 1

In [42]:
df.loc[df["Rate, %"] > 7.9, "ANSWER (GROUP NUMBER)"] = gr_number

In [43]:
df["ANSWER (GROUP NUMBER)"] = df["ANSWER (GROUP NUMBER)"].astype(int)

In [44]:
df #just to see it

     Asset (active)  Loan (passive))  Rate, %  ANSWER (GROUP NUMBER)
988            0.00       1794840.28    -5.00                      0
980            0.00        350082.28    -5.00                      0
981            0.00        415658.81    -5.00                      0
986            0.00        909327.86    -5.00                      0
953            0.00        553498.49    -4.00                      6
..              ...              ...      ...                    ...
307            0.00      13685556.81     6.50                     76
306            0.00       7311462.25     6.50                     76
296            0.00       4556683.20     6.75                     78
918     13952230.61             0.00     7.62                     84
391     15666677.16             0.00     8.10                     87

[1015 rows x 4 columns]

In [45]:
df["ANSWER (GROUP NUMBER)"].unique()

array([ 0,  6, 10, 13, 15, 16, 18, 20, 25, 26, 28, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 42, 43, 44, 47, 48, 49, 51, 53, 58, 60, 71, 76,
       78, 84, 87])

In [46]:
rwa = 0
A_not_netted = 0 #sum of the not netted assets
L_not_netted = 0 #sum of the not netted loans

In [47]:
for val in df["ANSWER (GROUP NUMBER)"].unique():
    A = df.loc[df["ANSWER (GROUP NUMBER)"] == val, "Asset (active)"].sum() #sum of the assets in a group
    L = df.loc[df["ANSWER (GROUP NUMBER)"] == val, "Loan (passive))"].sum() #sum of the loans in a group
    if A != 0 and L != 0:
        rwa += abs(A - L)
    else:
        A_not_netted += A
        L_not_netted += L

In [48]:
rwa += (A_not_netted + L_not_netted) * 0.1 + abs(A_not_netted - L_not_netted) * 0.4

In [49]:
rwa #answer, 2376533360.7110004

np.float64(2376533360.7110004)