In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("2a.csv", sep=';')

In [24]:
df = df.drop("Unnamed: 6", axis=1)

In [25]:
df = df.sort_values("Rate, %")

In [26]:
df

,Asset (active),Loan (passive)),Maturity date,"Maturity period, days","Rate, %",ANSWER (GROUP NUMBER)
988,0.00,1794840.28,NaN,<30,-5.00,NaN
980,0.00,350082.28,NaN,<30,-5.00,NaN
981,0.00,415658.81,NaN,<30,-5.00,NaN
986,0.00,909327.86,NaN,<30,-5.00,NaN
953,0.00,553498.49,NaN,<30,-4.00,NaN
...,...,...,...,...,...,...
307,0.00,13685556.81,NaN,<30,6.50,NaN
306,0.00,7311462.25,NaN,<30,6.50,NaN
296,0.00,4556683.20,NaN,<30,6.75,NaN
918,13952230.61,0.00,NaN,<30,7.62,NaN
391,15666677.16,0.00,NaN,<30,8.10,NaN

In [27]:
gr_number = 1
for i in range(-500, 801, 15):
    df.loc[(df["Rate, %"] >= i / 100) & (df["Rate, %"] < (i + 15) / 100), "ANSWER (GROUP NUMBER)"] = gr_number
    gr_number += 1

In [28]:
df.loc[df["Rate, %"] > 7.9, "ANSWER (GROUP NUMBER)"] = gr_number

In [29]:
df["ANSWER (GROUP NUMBER)"] = df["ANSWER (GROUP NUMBER)"].astype(int)

In [30]:
df #just to see it

,Asset (active),Loan (passive)),Maturity date,"Maturity period, days","Rate, %",ANSWER (GROUP NUMBER)
988,0.00,1794840.28,NaN,<30,-5.00,1
980,0.00,350082.28,NaN,<30,-5.00,1
981,0.00,415658.81,NaN,<30,-5.00,1
986,0.00,909327.86,NaN,<30,-5.00,1
953,0.00,553498.49,NaN,<30,-4.00,7
...,...,...,...,...,...,...
307,0.00,13685556.81,NaN,<30,6.50,77
306,0.00,7311462.25,NaN,<30,6.50,77
296,0.00,4556683.20,NaN,<30,6.75,79
918,13952230.61,0.00,NaN,<30,7.62,85
391,15666677.16,0.00,NaN,<30,8.10,88

In [31]:
df["ANSWER (GROUP NUMBER)"].unique()

array([ 1,  7, 11, 14, 16, 17, 19, 21, 26, 27, 29, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 43, 44, 45, 48, 49, 50, 52, 54, 59, 61, 72, 77,
       79, 85, 88])

In [32]:
rwa = 0

In [33]:
for val in df["ANSWER (GROUP NUMBER)"].unique():
    A = df.loc[df["ANSWER (GROUP NUMBER)"] == val, "Asset (active)"].sum()  # sum of the assets in a group
    L = df.loc[df["ANSWER (GROUP NUMBER)"] == val, "Loan (passive))"].sum()  # sum of the loans in a group
    if A != 0 and L != 0:
        rwa += abs(A - L)
    else:
        A = df.loc[df["ANSWER (GROUP NUMBER)"] == val, "ANSWER (GROUP NUMBER)"] = -1

In [34]:
A_not_netted = sum(df.loc[df["ANSWER (GROUP NUMBER)"] == -1, "Asset (active)"])  # sum of the not netted assets
L_not_netted = sum(df.loc[df["ANSWER (GROUP NUMBER)"] == -1, "Loan (passive))"])  # sum of the not netted loans

In [35]:
rwa += (A_not_netted + L_not_netted) * 0.1 + abs(A_not_netted - L_not_netted) * 0.4

In [36]:
rwa  # answer, 2376533360.7110004

np.float64(2376533360.7110004)

In [37]:
df.columns = ['asset', 'liab', 'm_d', 'm_p', 'ir', 'gn']

In [38]:
df.to_csv("2a_answer.csv", index=False)