In [348]:
import pandas as pd
import numpy as np

In [349]:
df = pd.read_csv("2b.csv", sep=';')

In [350]:
df = df.drop("Unnamed: 7", axis=1)

In [351]:
df = df.drop("Grouping example (first 20 transactions)", axis=1)

In [352]:
df = df.sort_values(by=["Maturity period, days", "Rate, %"], ascending = [True, True])

In [353]:
df

,Asset (active),Loan (passive)),Maturity date,"Maturity period, days","Rate, %",ANSWER (GROUP NUMBER)
268,10900000.0,0.0,23.04.2018,32,1.7445,NaN
269,0.0,26000000.0,23.04.2018,32,1.7445,NaN
321,5600000.0,0.0,23.04.2018,32,1.7445,NaN
322,0.0,11200000.0,23.04.2018,32,1.7445,NaN
370,30800000.0,0.0,23.04.2018,32,1.7445,NaN
...,...,...,...,...,...,...
1890,16700000.0,0.0,21.06.2018,91,2.2225,NaN
1975,106000000.0,0.0,21.06.2018,91,2.2225,NaN
1989,0.0,30800000.0,21.06.2018,91,2.2225,NaN
449,21300000.0,0.0,22.06.2018,92,2.2481,NaN
539,18000000.0,0.0,22.06.2018,92,2.2481,NaN

In [354]:
print(df["Rate, %"].min())
print(df["Rate, %"].max())

print(df["Maturity period, days"].min())
print(df["Maturity period, days"].max())

0.8495
9.125
32
92

In [355]:
gr_number = 1

In [356]:
for i in range(8495, 91251, 1500):  # by interest rates
    for j in range(32, 93, 30):  # by maturity period
        df.loc[(df["Maturity period, days"] == j) & (df["Rate, %"] >= i / 10000) & (df["Rate, %"] < (i + 1500) / 10000), "ANSWER (GROUP NUMBER)"] = gr_number
        gr_number += 1

In [357]:
df["ANSWER (GROUP NUMBER)"].unique()

array([16., 25., nan, 23., 26., 30.])

In [358]:
df = df.fillna(-1)

In [359]:
df["ANSWER (GROUP NUMBER)"] = df["ANSWER (GROUP NUMBER)"].astype(int)

In [360]:
rwa = 0

In [361]:
for val in df["ANSWER (GROUP NUMBER)"].unique():
    A = df.loc[df["ANSWER (GROUP NUMBER)"] == val, "Asset (active)"].sum()  # sum of the assets in a group
    L = df.loc[df["ANSWER (GROUP NUMBER)"] == val, "Loan (passive))"].sum()  # sum of the loans in a group
    if val != -1:
        if A != 0 and L != 0:
            rwa += abs(A - L)  # netting
            continue
        df.loc[df["ANSWER (GROUP NUMBER)"] == val, "ANSWER (GROUP NUMBER)"] = -1
    df.loc[df["ANSWER (GROUP NUMBER)"] == val, "ANSWER (GROUP NUMBER)"] = -1

In [362]:
A_not_netted = sum(df.loc[df["ANSWER (GROUP NUMBER)"] == -1, "Asset (active)"])  # sum of the not netted assets
L_not_netted = sum(df.loc[df["ANSWER (GROUP NUMBER)"] == -1, "Loan (passive))"])  # sum of the not netted loans

In [363]:
rwa += (A_not_netted + L_not_netted) * 0.1 + abs(A_not_netted - L_not_netted) * 0.4

In [364]:
rwa  # answer, 8551457412.521997

np.float64(8551457412.521997)

In [365]:
df.columns = ['asset', 'liab', 'm_d', 'm_p', 'ir', 'gn']

In [366]:
df.to_csv("2b_answer.csv", index=False)