{
 "cells": [
  {
   "cell_type": "code",
   "id": "initial_id",
   "metadata": {
    "collapsed": true,
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:22.640635Z",
     "start_time": "2026-01-27T08:26:22.320012Z"
    }
   },
   "source": [
    "import pandas as pd\n",
    "import numpy as np"
   ],
   "outputs": [],
   "execution_count": 1
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:22.645822Z",
     "start_time": "2026-01-27T08:26:22.640951Z"
    }
   },
   "cell_type": "code",
   "source": "df = pd.read_csv(\"2b.csv\", sep=';')",
   "id": "fcb71bfcab6c43c",
   "outputs": [],
   "execution_count": 2
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:22.649180Z",
     "start_time": "2026-01-27T08:26:22.646077Z"
    }
   },
   "cell_type": "code",
   "source": "df = df.drop(\"Unnamed: 7\", axis=1)",
   "id": "a23407c79129ca4b",
   "outputs": [],
   "execution_count": 3
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:22.652049Z",
     "start_time": "2026-01-27T08:26:22.649369Z"
    }
   },
   "cell_type": "code",
   "source": "df = df.drop(\"Grouping example (first 20 transactions)\", axis=1)",
   "id": "f16f00e6887afa61",
   "outputs": [],
   "execution_count": 4
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:22.654798Z",
     "start_time": "2026-01-27T08:26:22.652205Z"
    }
   },
   "cell_type": "code",
   "source": "df = df.drop(\"Maturity date\", axis=1)",
   "id": "425f2411524a08da",
   "outputs": [],
   "execution_count": 5
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:22.659137Z",
     "start_time": "2026-01-27T08:26:22.654958Z"
    }
   },
   "cell_type": "code",
   "source": "df = df.sort_values(by=[\"Maturity period, days\", \"Rate, %\"], ascending = [True, True])",
   "id": "cbad2ce358b0a18d",
   "outputs": [],
   "execution_count": 6
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:22.675993Z",
     "start_time": "2026-01-27T08:26:22.659306Z"
    }
   },
   "cell_type": "code",
   "source": "df",
   "id": "af553435c98e3411",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "      Asset (active)  Loan (passive))  Maturity period, days  Rate, %  \\\n",
       "268       10900000.0              0.0                     32   1.7445   \n",
       "269              0.0       26000000.0                     32   1.7445   \n",
       "321        5600000.0              0.0                     32   1.7445   \n",
       "322              0.0       11200000.0                     32   1.7445   \n",
       "370       30800000.0              0.0                     32   1.7445   \n",
       "...              ...              ...                    ...      ...   \n",
       "1890      16700000.0              0.0                     91   2.2225   \n",
       "1975     106000000.0              0.0                     91   2.2225   \n",
       "1989             0.0       30800000.0                     91   2.2225   \n",
       "449       21300000.0              0.0                     92   2.2481   \n",
       "539       18000000.0              0.0                     92   2.2481   \n",
       "\n",
       "      ANSWER (GROUP NUMBER)  \n",
       "268                     NaN  \n",
       "269                     NaN  \n",
       "321                     NaN  \n",
       "322                     NaN  \n",
       "370                     NaN  \n",
       "...                     ...  \n",
       "1890                    NaN  \n",
       "1975                    NaN  \n",
       "1989                    NaN  \n",
       "449                     NaN  \n",
       "539                     NaN  \n",
       "\n",
       "[2175 rows x 5 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Asset (active)</th>\n",
       "      <th>Loan (passive))</th>\n",
       "      <th>Maturity period, days</th>\n",
       "      <th>Rate, %</th>\n",
       "      <th>ANSWER (GROUP NUMBER)</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>268</th>\n",
       "      <td>10900000.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>32</td>\n",
       "      <td>1.7445</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>269</th>\n",
       "      <td>0.0</td>\n",
       "      <td>26000000.0</td>\n",
       "      <td>32</td>\n",
       "      <td>1.7445</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>321</th>\n",
       "      <td>5600000.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>32</td>\n",
       "      <td>1.7445</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>322</th>\n",
       "      <td>0.0</td>\n",
       "      <td>11200000.0</td>\n",
       "      <td>32</td>\n",
       "      <td>1.7445</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>370</th>\n",
       "      <td>30800000.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>32</td>\n",
       "      <td>1.7445</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1890</th>\n",
       "      <td>16700000.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>91</td>\n",
       "      <td>2.2225</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1975</th>\n",
       "      <td>106000000.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>91</td>\n",
       "      <td>2.2225</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1989</th>\n",
       "      <td>0.0</td>\n",
       "      <td>30800000.0</td>\n",
       "      <td>91</td>\n",
       "      <td>2.2225</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>449</th>\n",
       "      <td>21300000.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>92</td>\n",
       "      <td>2.2481</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>539</th>\n",
       "      <td>18000000.0</td>\n",
       "      <td>0.0</td>\n",
       "      <td>92</td>\n",
       "      <td>2.2481</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>2175 rows × 5 columns</p>\n",
       "</div>"
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 7
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:22.778642Z",
     "start_time": "2026-01-27T08:26:22.699848Z"
    }
   },
   "cell_type": "code",
   "source": [
    "print(df[\"Rate, %\"].min())\n",
    "print(df[\"Rate, %\"].max())\n",
    "\n",
    "print(df[\"Maturity period, days\"].min())\n",
    "print(df[\"Maturity period, days\"].max())"
   ],
   "id": "be4b2114dbd55390",
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "0.8495\n",
      "9.125\n",
      "32\n",
      "92\n"
     ]
    }
   ],
   "execution_count": 8
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:22.928067Z",
     "start_time": "2026-01-27T08:26:22.925055Z"
    }
   },
   "cell_type": "code",
   "source": "gr_number = 0",
   "id": "e402137d64be2f4",
   "outputs": [],
   "execution_count": 9
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:22.984020Z",
     "start_time": "2026-01-27T08:26:22.946885Z"
    }
   },
   "cell_type": "code",
   "source": [
    "for i in range(8495, 91251, 1500): #by interest rates\n",
    "    for j in range(32, 93, 30): #by maturity period\n",
    "        df.loc[(df[\"Maturity period, days\"] == j) & (df[\"Rate, %\"] >= i / 10000) & (df[\"Rate, %\"] < (i + 1500) / 10000), \"ANSWER (GROUP NUMBER)\"] = gr_number\n",
    "        gr_number += 1"
   ],
   "id": "31c4e32753c6d7cd",
   "outputs": [],
   "execution_count": 10
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:22.999507Z",
     "start_time": "2026-01-27T08:26:22.984451Z"
    }
   },
   "cell_type": "code",
   "source": "df[\"ANSWER (GROUP NUMBER)\"].unique()",
   "id": "88ab6f1db527b601",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "array([15., 24., nan, 22., 25., 29.])"
      ]
     },
     "execution_count": 11,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 11
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:23.002859Z",
     "start_time": "2026-01-27T08:26:22.999766Z"
    }
   },
   "cell_type": "code",
   "source": "df = df.fillna(0)",
   "id": "853b3d60f5a82492",
   "outputs": [],
   "execution_count": 12
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:23.007649Z",
     "start_time": "2026-01-27T08:26:23.003038Z"
    }
   },
   "cell_type": "code",
   "source": "df[\"ANSWER (GROUP NUMBER)\"] = df[\"ANSWER (GROUP NUMBER)\"].astype(int)",
   "id": "d4d5c0ba2cc107fe",
   "outputs": [],
   "execution_count": 13
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:23.011882Z",
     "start_time": "2026-01-27T08:26:23.008029Z"
    }
   },
   "cell_type": "code",
   "source": "groups = np.delete(df[\"ANSWER (GROUP NUMBER)\"].unique(), 0) #actual groups",
   "id": "59fb0466eae9a650",
   "outputs": [],
   "execution_count": 14
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:23.016395Z",
     "start_time": "2026-01-27T08:26:23.012605Z"
    }
   },
   "cell_type": "code",
   "source": [
    "rwa = 0\n",
    "A_not_netted = 0 #sum of the not netted assets\n",
    "L_not_netted = 0 #sum of the not netted loans"
   ],
   "id": "47a3db71175ea89c",
   "outputs": [],
   "execution_count": 15
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:23.022456Z",
     "start_time": "2026-01-27T08:26:23.017061Z"
    }
   },
   "cell_type": "code",
   "source": [
    "for val in df[\"ANSWER (GROUP NUMBER)\"].unique():\n",
    "    A = df.loc[df[\"ANSWER (GROUP NUMBER)\"] == val, \"Asset (active)\"].sum() #sum of the assets in a group\n",
    "    L = df.loc[df[\"ANSWER (GROUP NUMBER)\"] == val, \"Loan (passive))\"].sum() #sum of the loans in a group\n",
    "    if val in groups:\n",
    "        if A != 0 and L != 0:\n",
    "            rwa += abs(A - L) #netting\n",
    "            continue\n",
    "    A_not_netted += A\n",
    "    L_not_netted += L"
   ],
   "id": "9a1984d61023ecf4",
   "outputs": [],
   "execution_count": 16
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:23.028938Z",
     "start_time": "2026-01-27T08:26:23.022821Z"
    }
   },
   "cell_type": "code",
   "source": "rwa += (A_not_netted + L_not_netted) * 0.1 + abs(A_not_netted - L_not_netted) * 0.4",
   "id": "c57e904ccbcae329",
   "outputs": [],
   "execution_count": 17
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2026-01-27T08:26:23.042055Z",
     "start_time": "2026-01-27T08:26:23.029802Z"
    }
   },
   "cell_type": "code",
   "source": "rwa #answer, 2151231761.3219976",
   "id": "d9ef6e448a065065",
   "outputs": [
    {
     "data": {
      "text/plain": [
       "np.float64(2151231761.3219976)"
      ]
     },
     "execution_count": 18,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "execution_count": 18
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 2
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython2",
   "version": "2.7.6"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}

In [22]:
df = df.drop("Unnamed: 7", axis=1)

In [24]:
df = df.drop("Maturity date", axis=1)

In [27]:
df

,Asset (active),Loan (passive)),"Maturity period, days","Rate, %",ANSWER (GROUP NUMBER)
268,10900000.0,0.0,32,1.7445,NaN
269,0.0,26000000.0,32,1.7445,NaN
321,5600000.0,0.0,32,1.7445,NaN
322,0.0,11200000.0,32,1.7445,NaN
370,30800000.0,0.0,32,1.7445,NaN
...,...,...,...,...,...
1890,16700000.0,0.0,91,2.2225,NaN
1975,106000000.0,0.0,91,2.2225,NaN
1989,0.0,30800000.0,91,2.2225,NaN
449,21300000.0,0.0,92,2.2481,NaN
539,18000000.0,0.0,92,2.2481,NaN

In [32]:
gr_number = 0

In [57]:
df["ANSWER (GROUP NUMBER)"].unique()

array([15, 24,  0, 22, 25, 29])

In [56]:
df["ANSWER (GROUP NUMBER)"] = df["ANSWER (GROUP NUMBER)"].astype(int)

In [62]:
rwa = 0
A_not_netted = 0 #sum of the not netted assets
L_not_netted = 0 #sum of the not netted loans

In [64]:
rwa += (A_not_netted + L_not_netted) * 0.1 + abs(A_not_netted - L_not_netted) * 0.4