In [184]:
import pandas as pd
import numpy as np

In [185]:
df = pd.read_csv("2b.csv", sep=';')

In [186]:
df = df.drop("Unnamed: 7", axis=1)

In [187]:
df = df.drop("Grouping example (first 20 transactions)", axis=1)

In [188]:
df = df.sort_values(by=["Maturity period, days", "Rate, %"], ascending = [True, True])

In [189]:
df

,Asset (active),Loan (passive)),Maturity date,"Maturity period, days","Rate, %",ANSWER (GROUP NUMBER)
268,10900000.0,0.0,23.04.2018,32,1.7445,NaN
269,0.0,26000000.0,23.04.2018,32,1.7445,NaN
321,5600000.0,0.0,23.04.2018,32,1.7445,NaN
322,0.0,11200000.0,23.04.2018,32,1.7445,NaN
370,30800000.0,0.0,23.04.2018,32,1.7445,NaN
...,...,...,...,...,...,...
1890,16700000.0,0.0,21.06.2018,91,2.2225,NaN
1975,106000000.0,0.0,21.06.2018,91,2.2225,NaN
1989,0.0,30800000.0,21.06.2018,91,2.2225,NaN
449,21300000.0,0.0,22.06.2018,92,2.2481,NaN
539,18000000.0,0.0,22.06.2018,92,2.2481,NaN

In [190]:
print(df["Rate, %"].min())
print(df["Rate, %"].max())

print(df["Maturity period, days"].min())
print(df["Maturity period, days"].max())

0.8495
9.125
32
92

In [191]:
gr_number = 1

In [192]:
for i in range(8495, 91251, 1500):  # by interest rates
    for j in range(32, 93, 30):  # by maturity period
        df.loc[(df["Maturity period, days"] == j) & (df["Rate, %"] >= i / 10000) & (df["Rate, %"] < (i + 1500) / 10000), "ANSWER (GROUP NUMBER)"] = gr_number
        gr_number += 1

In [193]:
df["ANSWER (GROUP NUMBER)"].unique()

array([16., 25., nan, 23., 26., 30.])

In [194]:
df = df.fillna(-1)

In [195]:
df["ANSWER (GROUP NUMBER)"] = df["ANSWER (GROUP NUMBER)"].astype(int)

In [196]:
groups = np.delete(df["ANSWER (GROUP NUMBER)"].unique(), -1)  # actual groups

In [197]:
rwa = 0

In [198]:
for val in df["ANSWER (GROUP NUMBER)"].unique():
    A = df.loc[df["ANSWER (GROUP NUMBER)"] == val, "Asset (active)"].sum()  # sum of the assets in a group
    L = df.loc[df["ANSWER (GROUP NUMBER)"] == val, "Loan (passive))"].sum()  # sum of the loans in a group
    if val in groups:
        if A != 0 and L != 0:
            rwa += abs(A - L)  # netting
            continue
        df.loc[df["ANSWER (GROUP NUMBER)"] == val, "ANSWER (GROUP NUMBER)"] = -1
    df.loc[df["ANSWER (GROUP NUMBER)"] == val, "ANSWER (GROUP NUMBER)"] = -1

In [199]:
A_not_netted = sum(df.loc[df["ANSWER (GROUP NUMBER)"] == -1, "Asset (active)"])  # sum of the not netted assets
L_not_netted = sum(df.loc[df["ANSWER (GROUP NUMBER)"] == -1, "Loan (passive))"])  # sum of the not netted loans

In [200]:
rwa += (A_not_netted + L_not_netted) * 0.1 + abs(A_not_netted - L_not_netted) * 0.4

In [201]:
rwa  # answer, 10245291618.791994

np.float64(10245291618.791994)

In [202]:
df

,Asset (active),Loan (passive)),Maturity date,"Maturity period, days","Rate, %",ANSWER (GROUP NUMBER)
268,10900000.0,0.0,23.04.2018,32,1.7445,16
269,0.0,26000000.0,23.04.2018,32,1.7445,16
321,5600000.0,0.0,23.04.2018,32,1.7445,16
322,0.0,11200000.0,23.04.2018,32,1.7445,16
370,30800000.0,0.0,23.04.2018,32,1.7445,16
...,...,...,...,...,...,...
1890,16700000.0,0.0,21.06.2018,91,2.2225,-1
1975,106000000.0,0.0,21.06.2018,91,2.2225,-1
1989,0.0,30800000.0,21.06.2018,91,2.2225,-1
449,21300000.0,0.0,22.06.2018,92,2.2481,-1
539,18000000.0,0.0,22.06.2018,92,2.2481,-1

In [203]:
df.columns = ['asset', 'liab', 'm_d', 'm_p', 'ir', 'gn']

In [204]:
df.to_csv("2b_answer.csv", index=False)

In [205]:
df["gn"].unique()

array([16, -1, 23])

In [206]:
df.loc[df['gn'] == -1]

            asset         liab         m_d  m_p      ir  gn
1482          0.0     22743.97  23.04.2018   32  2.1960  -1
69     25000000.0         0.00  24.04.2018   33  1.7413  -1
70            0.0  25000000.00  24.04.2018   33  1.7413  -1
158    10000000.0         0.00  24.04.2018   33  1.7413  -1
159     2100000.0         0.00  24.04.2018   33  1.7413  -1
...           ...          ...         ...  ...     ...  ..
1890   16700000.0         0.00  21.06.2018   91  2.2225  -1
1975  106000000.0         0.00  21.06.2018   91  2.2225  -1
1989          0.0  30800000.00  21.06.2018   91  2.2225  -1
449    21300000.0         0.00  22.06.2018   92  2.2481  -1
539    18000000.0         0.00  22.06.2018   92  2.2481  -1

[2068 rows x 6 columns]